@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.6);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* navbar */
#loginBtn{
  margin-inline: 10px;
}
#loginBtn:hover {
background-color: #fff;
}

#regBtn{
  margin-inline: 10px;
  color: #000;
}
#regBtn:hover {
background-color: #00d6fc;
color: black;
}

.navbar-nav a {
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
}
.navbar-light .navbar-brand {
color: #000;
font-size: 25px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
color: #000;
}
.navbar-light .navbar-nav .nav-link {
color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
color: #000;
background-color: #00d6fc;
}
.navbar-toggler {
padding: 1px 5px;
font-size: 18px;
line-height: 0.3;
background: #fff;
}

/* login */

.form-div-container {
  background-color: rgb(255, 255, 255);
  margin-top:50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 10px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 20px 40px;
}

.my-form-control {
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
}

.my-form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.my-form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.my-form-control input:focus {
  outline: 0;
  border-color: #777;
}

.my-form-control.success input {
  border-color: #2ecc71;
}

.my-form-control.error input {
  border-color: #e74c3c;
}

.my-form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.my-form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.my-form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.my-form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 1;
  left: 0;
  visibility: hidden;
}

.my-form-control.error small {
  visibility: visible;
}

.form button {
  color: #141414;
  font-weight: 700;
  font-size: medium;
  width: 100%;
  height: 40px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-3 {
  background: #00aced;
  padding: 0;
  border: none;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-3:hover {
  background-color: #046ae6;
  color: #f7f9fa;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #00aced;
  box-shadow: 0 0 5px #00aced;
  transition: all 0.3s ease;
}
.btn-3:before {
  top: 0;
}
.btn-3:after {
  bottom: 0;
}
.btn-3:hover:before,
.btn-3:hover:after {
  height: 0;
  background-color: #00aced;
}

.redirect-link {
  padding-top: 10px;
  text-align: center;
}

.redirect-link a {
  text-decoration: none;
  background-color: #96f080;
  padding: 10px;
  border-radius: 4px;
}
.redirect-link a:hover {
  background-color: #31e604;
  color: whitesmoke;
}
.my-toast{
  padding: 40px;
  font-size: 20px;
  font-weight: bold; 
}
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 14;
}
.toast{
  z-index: 17;
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .form-div-container{
    margin-top: 20px;
  }
}